body {
    background-color: rgb(80, 80, 80);
}

.interactive-container>* {
    position: absolute;
    border: 1px solid;
    border-color: black;
    border-style: solid;
    border-color: transparent;
}

#table {
    top: 0px;
    left: 175px;
    width: 1200px;
    height: 800px;
    background-color: #2A0944;
    background-image: url("https://ucarecdn.com/105c73f7-13c7-4a5d-8fcd-012b1b406c45/felt.png");
    border-style: solid;
    border-color: #473329;
    border-width: 25px;
    border-radius: 50px;
}